.scoped-sayt-last {
	height: 1px;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #D4D4D4;
	margin-left: -20px;
}

.scoped-sayt {
	font-style: italic;
	color: #DC7F09;
}

.saytList {
	padding-left: 0px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #bbb;
	padding-bottom: 10px;
} 

.sayt-header-background {
    position: absolute;
    height: 25px;
	width: 100%;
    background-color: #E8E8E8;
    left: 0;
    z-index: -1;
}

.saytSection:last-of-type > ul.saytList {
	border-bottom-width: 0px;
}

.saytItem {
	list-style-type: none;
}

.sayt-link-container:hover{	
	background-color: #eee;
}

.saytLink:hover {
    color: #000;
    text-decoration: none;
}

.saytLink {
    width: 100%;
	color: black;
    display: inline-block;
    text-align: left;
	padding-left: 15px;
}

.saytImage:hover {
    border: 2px solid #aaa;
}

.saytImage {
	float: left;
	padding: 2px;
    display: block;
    margin: auto;
    border: 2px solid transparent;
}

.extra-sayt-navigation-section{
	padding-top: 10px;
}

.saytImage-container-first {
	padding: 0 0 0 6px;
}

.saytImage-container-last {
	padding: 0 6px 0 0;
}

.saytImage-container-middle {
	padding: 0 3px 0 3px;
}

.saytProductTitle {
	float:left;
    font-size: 11px;
    padding-left: 10px;
    padding-right: 10px;
    text-align:center;
}

.saytHeader {
	font-size: 16px;
	font-weight: bold;
	padding-top: 2px;
	margin-left: 5px;
	margin-right: 10px;
}

.saytDropdown {
	width: 500px;
}


/* TSC SAYT Demo */
    /* position: absolute; */
    /* top: 0; */
    /* left: 100%; */
    /* width: 500px; */
    /* height: 400px; */
    /* background: #fff; */
    /* overflow-y: scroll; */