
.primary-nav-menu {
	width: 600px !important;
	min-height: 350px;
	padding: 10px;
	margin-top: 0;
}

@media (min-width: 979px) {
  div.menu-bar-toggle > ul.primary-nav-menu {
    display: block;
  }
}

.category-menu {
	padding: 10px 0 0 0;
}

.category-menu > ul {
    list-style-type: none;
    padding-left:10px;
}


.category-menu > a {
	display: block;
	font-weight: bold !important; 
	font-size: 14px;
	color: #262626;
	padding: 10px 0 0 0;
}

.category-menu:nth-of-type(2n+1){
  clear:both;
}

.category-menu > a:hover {
    text-decoration: none;
	background-color: #f5f5f5;
}

.sub-category-menu {
	padding-left: 2px;
	padding-right: 2px;
}

.sub-category-menu:hover {
    background-color: #f5f5f5;
}

.sub-category-menu > a {
	display: block;
	color: #262626;
	font-weight: normal;
	font-size: 14px;
	padding: 2px 0 2px 0;
}

.sub-category-menu > a:hover {
    text-decoration: none;
}

.menu-no-padding {
	padding: 0;
}

.menu-preview-image {
	padding-top:5px;
}