<div class="well col-xs-12 product-details">
	<img class="poster img-thumbnail img-responsive" ng-src="{{product.meta.wideImage}}">

	<h1 class="product-title">{{product.meta.title}} - {{product.meta.price | currency:"$"}}</h1>

	<a ng-repeat="color in product.meta.Qcolor" class="btn btn-info" href="/">{{color}}</a>

	<div class="overview">{{product.meta.CdescriptionLong}}</div>

	<div class="extra-details">
		<kbd>Style: {{product.meta.Qstyle}} </kbd>
		<kbd>Type: {{product.meta.QtopRatedType}}</kbd>
		<kbd ng-repeat="feature in product.meta.Qfeatures">Feature: {{feature}}</kbd>
	</div>

</div>