
<div>
    <div class="modal-header">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="modal-title">Modify Position #{{curate.position}}</h3>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <uib-tabset class="reveal-modal clearfix" data-reveal>
            <uib-tab heading="Move To" active="true">
                <div class="row curate-move-box">
                    <div class="curate-search-selected col-md-12">
                        <div class="col-md-4">
                            <form novalidate>
                              <span>Move to position:</span> <input class="move-box" type="number" ng-model="curate.moveto" min="1" max="200" required/>
                            </form>
                        </div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab heading="Pick Product" active="false">
                <div class="row curate-search-container">
                    <div class="curate-search-selected col-md-12"
                        ng-show="curate.selected">
                      <div class="col-md-12 curate-search-box">
                          <div class="col-md-12 curate-replace-preview">
                            <p>Put this product in location #{{curate.position}}:</p>
                            <img class="img-responsive" ng-src="{{curate.selected.allMeta[curate.displayFields.image]}}">
                            <h5>{{curate.selected.allMeta[curate.displayFields.title] | cut:true:50:'...'}}</h5>
                          </div>
                       </div>
                    </div> 
                    <div class="col-md-12 curate-search-box">
                        <form novalidate>
                          Search by name or ISBN: <input type="text" ng-model="curate.searchText" ng-change="curate.search()" ng-model-options="{ debounce: 250 }" required ng-trim="false">
                        </form>
                    </div>
                </div>
                <div class="row curate-search-results">
                    <div class="curate-container col-md-3 col-xs-6" ng-repeat="result in curate.results track by result._id">
                      <div class="curate-preview">
                        <div class="curate-thumb">
                          <img class="img-responsive" ng-src="{{result.allMeta[curate.displayFields.image]}}">
                          <h5>{{result.allMeta[curate.displayFields.title] | cut:true:50:'...'}}</h5>
                        </div> 
                        <div class="hover-btn">
                          <button class="btn btn-danger" type="button" ng-click="curate.selected = result">Select</button>
                        </div>
                      </div>
                    </div>
                </div>
            </uib-tab>
 
        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="curate.ok()">OK</button>
        <button class="btn btn-primary" type="button" ng-click="curate.cancel()">Close</button>
    </div>
</div>