
.move-box {
	width : 40%;
	padding-left: 5px;
}

.curate-search-container {
	width : 100%;
	margin : 0;
	float: left;
	padding-left: 5%;
	background-color: #ddd;
	border-radius: 10px;
	position: relative;
}

.curate-search-box {
	padding: 3% 0;
	position: relative;
}

.curate-replace-preview {
	padding: 3% 0;
	text-align: center;
}

.curate-move-box {
	width : 100%;
	margin : 15px 0 0 0;
	float: left;
	padding-left: 5%;
	background-color: #ddd;
	border-radius: 10px;
	position: relative;
}

.curate-move-box > div {
	padding: 3% 0;
	position: relative;
}

.curate-search-results {
	margin: 15px;
}

.curate-container:nth-of-type(4n+1){
  clear:both;
}

.curate-container {
	height:auto;
}

.curate-replace-preview > img {
	margin-left:auto;
	margin-right:auto;
	max-height: 200px;
	height: auto;
	margin-bottom: 5px;
}

.curate-thumb {
	padding: 10px;
	text-align: center;
}

.curate-thumb > img {
	border-color: transparent;
	margin-left:auto;
	margin-right:auto;
	max-width: 60%;
	height: auto;
	margin-bottom: 10px;
}

.curate-thumb > h5 {
	margin-left:20px;
	margin-right:20px;
}

.curate-preview {
	border: 1px solid transparent;
	border-radius: 6px;
}

.curate-preview:hover {
	border-color: #ddd;
}

.curate-preview .hover-btn {
     position: absolute;
     top: 34%;
     right: 34%;
     background-color: transparent;
     display: none;
     cursor: pointer;
}

.curate-preview:hover .hover-btn {
	display: block;
}