
<div>
    <div class="settings-modal modal-header">
        <div class="row">
            <div class="col-lg-8">
                <h3 class="modal-title">Settings</h3>
            </div>
        </div>
    </div>
    <div class="modal-body">

        <uib-tabset class="reveal-modal clearfix" data-reveal>
            <uib-tab ng-repeat="(name, section) in settings.sections" heading="{{name}}" active="$first">
                <div class="col-md-12">
                <ul class="settings-card-list" data-as-sortable="settings.dragControlListeners" data-ng-model="section">
                   <li class="settings-card as-sortable-item" data-ng-repeat="(key, value) in section" data-as-sortable-item>
                      <div ng-if="name === 'Personalization' && key ==='Status'" class="form-group row as-sortable-item-handle" data-as-sortable-item-handle>
                            <div class="col-md-3 card-key"><span>{{key}}</span></div> 
                            <div class="col-md-4 card-value">
                                <label>
                                <input  class="form-control" name="value" type="radio" 
                                       value="on" ng-model="settings.sections[name][key]"/>
                                On</label>
                            </div>
                            <div class="col-md-4 card-value">
                                <label>
                                <input  class="form-control" name="value" type="radio" 
                                       value="off" ng-model="settings.sections[name][key]"/>
                                Off</label>                                       
                            </div> 
                      </div>
                      <div ng-if="key !=='Status' && name !== 'Personalization'" class="form-group row as-sortable-item-handle" data-as-sortable-item-handle>
                            <div class="col-md-3 card-key"><span>{{key}}</span></div> 
                            <div class="col-md-9 card-value">
                                <input class="form-control" name="value" type="value" 
                                       placeholder="" ng-model="settings.sections[name][key]"/>
                            </div> 
                      </div>
                   </li>
                </ul>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="settings.done()">Close</button>
    </div>
</div>