<div class="search-template featureditem row">
	<div ng-if="(search.template.zones['Header'].richContent | sanitize) !== ''" 
		class="col-md-12"
		ng-bind-html="search.template.zones['Header'].richContent | sanitize"></div>
	<div class="col-md-4" ng-repeat="result in search.template.zones['Products'].records | limitTo:3">
        <div class="product-thumb-container" style="position:relative">
          <a href="product/{{result.allMeta[search.displayFields.id]}}" class="product-thumb">
            <img class="img-responsive" ng-src="{{result.allMeta[search.displayFields.image]}}">
            <h5>{{result.allMeta[search.displayFields.title]}}</h5>
          </a>
          <div class="hover-btn" ng-click="search.inspect(result.allMeta[search.displayFields.id])">
            <i class="glyphicon glyphicon-eye-open"></i>
          </div>
        </div>
	</div>
</div>