html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
	{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: Arial;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
	{
	display: block;
}

.transparent {
	width: 100%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity =                                                       50
		);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

body {
	line-height: 1;
}

ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.header {
	background-color: #223d62;
	text-align: center;
	margin-bottom: 4px;
}

.search {
	padding: 8px;
	background-color: white;
	width: 975px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 1px;
	position: relative;
	text-align: center;
}

.container {
	width: 975px;
	margin-left: auto;
	margin-right: auto;
}

.images {
	margin-left: 225px;
}

.images li {
	display: inline-block;
	margin-right: 6px;
	margin-bottom: 6px;
	border: 2px solid white;
}

.images li:hover {
	border: 2px solid #c2c1c1;
}


.navigation {
	width: 160px;
	float: left;
}

.count {
	font-size: 10px;
	color: #666666;
	text-decoration: none;
}

.navigation  b {
	text-transform: capitalize;
	font-size: 14px;
	padding-top: 10px;
	margin-bottom: 3px;
	display: block;
}

.navigation select {
	text-transform: capitalize;
	margin: 0;
	margin-bottom: 20px;
}

.controls h1 {
	font-size: 28px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.results {
}

#q {
	top: 29px;
	left: -295px;
	position: relative;
	border: 0;
	height: 25px;
	background: none;
	width: 379px;
	font-size: 20px;
}

input:focus {
	outline: none;
}

hr {
	height: 4px;
	background-image: url('/images/dot.gif');
	background-repeat: repeat-x;
	border: 0;
}

.promo {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.container {
	background-color: white;
	padding: 8px;
}

#form {
	height: 0;
}

.priceReduced {
	text-decoration: line-through;
}

.price {
	font-weight: bold;
	color: red;
	font-size: 20px;
}

.snippet b {
	font-size: 1em;
	background-color: #fffebd;
}

ul.gridRecord li {
	margin-bottom: 40px;
}

ul.gridRecord li img {
	margin-right: 15px;
	margin-top: 10px;
}

.gridSnippet {
	margin-top: 10px;
}

.recordList .mainImage {
	margin: 40px;
	margin-top: 0;
	margin-bottom: 8px;
}

.recordList,.sort {
	margin-left: 170px;
}

.recordList {
	font-size: 12px;
}

.recordList b {
	font-weight: bold;
}

.recordList b.name {
	font-size: 16px;
	font-weight: bold;
	color: #0000DD;
	margin-bottom: 15px;
	display: inline-block;
}

.recordList strong {
	
}

.notes {
	background-color: #DDDDDD;
	padding: 8px;
}

.notes .price {
	margin-bottom: 7px;
	color: #770022;
	font-size: 14px;
	font-weight: bold;
}

.notes .otherNotes ul {
	margin-bottom: 16px;
	margin-top: 16px;
}

.notes .otherNotes li {
	list-style: circle;
	margin-left: 20px;
	font-size: 12px;
	color: #6666BB;
	margin-bottom: 4px;
}

label {
	cursor:pointer;
}
.compareLabel {
	display: block;
	font-size: 12px;
	text-decoration: none;
	line-height: 12px;
	color: blue;
	cursor: pointer;
}

.recordDetails {
	margin-right: 30px;
}

.sort {
	background-color: #EEEEEE;
	padding: 10px;
	color: #666666;
	font-weight: bolder;
	font-size: 15px;
	color: #666666;
}

.compare {
	background-color: #CCCCCC;
	margin-left: 170px;
	padding: 10px;
	font-size: 13px;
	color: #666666;
	margin-bottom: 20px;
	background-color: #CCCCCC;
}

.compare img {
	vertical-align: middle;
	border: 1px solid #999999;
}

.nextPage a {
	display: inline-block;
	font-weight: bolder;
	font-size: 13px;
	padding: 4px;
	text-decoration: none;
}

.nextPage a.selected {
	margin-left: 200px;
	color: white;
	padding-left: 8px;
	padding-right: 8px;
	background-color: blue;
	color: white;
}

#compareButton {
	cursor: pointer;
	background-color: #000077;
	color: white;
	height: 25px;
	display: inline-block;
	padding: 5px;
	border: 0;
	padding: 5px;
	height: 25px;
	line-height: 10px;
}

.rating {
	margin-top: 10px;
	margin-bottom: 10px;
}

.navHolder {
	border: 1px solid #AAAAAA;
	margin-bottom: 15px;
}

.navHolder .title {
	background-color: #223d62;
	padding: 8px;
	color: white;
	font-weight: bolder;
	font-size: 14px;
}

.navHolder .refinementsHolder {
	padding: 8px;
}

.navHolder .refinementsHolder a {
	font-size: 11px;
	display: block;
	color: #5555FF;
	margin-bottom: 4px;
	text-decoration: none;
}

.didYouMean {
	font-size: 12px;
	margin-bottom: 10px;
}

#compareContainer {
	margin-bottom: 30px;
	margin-left: 170px;
	border: 1px solid #DDDDDD;
}

#compareContainer .products {
	width: 120px;
}

#compareContainer td {
	padding: 8px;
	font-size: 12px;
	border-bottom: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
}

#compareContainer th {
	background-color: #DDDDDD;
	text-align: left;
	padding: 8px;
	font-size: 12px;
	border-bottom: 1px solid white;
	width: 140px;
}

.productHeader {
	max-width: 140px;
	text-align: center;
}

.cse-sayt-container {
	padding-top: 9px;
	margin-top: 9px;
	border-top: 3px solid #EEEEEE;
}

.gsq_a span {
	padding-left: 10px;
}
.cse-sayt-image {
	width:100px;
}
.cse-sayt-image img {
	padding: 10px;
	padding-top: 0;
	max-width: 100px;
	max-height: 100px;
}

.cse-sayt-descr {
	font-size: 11px;
	line-height: 12px;
}

.cse-sayt-title {
	font-size: 13px;
	line-height: 14px;
}

.cse-sayt-result {
	display: block !important;
	margin-bottom: 10px !important;
	padding-bottom: 10px !important;
	border-bottom: 1px dashed #EEEEEE !important;
}

.upsell {
	margin-bottom: 15px;
	padding: 5px;
	border-top: 3px solid #EEEEEE;
}

.upsell b {
	color: blue;
	font-size: 12px;
}

.upsell img {
	margin-left: 40px;
	max-width: 100px;
	max-height: 100px;
}
.famous {
	width:250px;
}
.famous h2 {
	font-size: 25px;
}

.famous b {
	color: blue;
}

.famous img {
	margin-top: 25px;
}

#refinementsDiv {
	font-size:12px;
}