@import url("//fonts.googleapis.com/css?family=Lobster");

body {
	margin-top: 50px;
	overflow-y: scroll;
}

.section-title, .navbar-brand {
	font-family: 'Lobster', cursive;
	font-weight: bold;
	line-height: 1.1;
	font-size: 26px;
	margin-top: 0px;
	padding: 15px;
}

.results-title {
	font-family: 'Lobster', cursive;
}

.results-well {
	border-width: 1px 0px 0px 0px;
	border-radius: 0;
	background-color: transparent;
	border-color: #e3e3e3;
}

.navigation-well {
	border-width: 1px 1px 0px 0px;
	border-radius: 0;
	background-color: transparent;
}

.navigation {
	border-top: 1px solid black;
	padding: 10px 0 10px 0;
}

.navigation > div > span {
	font-family: 'Lobster', cursive;
	font-weight: bold;
	line-height: 1.1;
	font-size: 20px;
}

.navigation .nav-collapse {
	margin: 2px 10px 0px 0px;
	float:right;
}

.refinement {
	padding: 3px;
	border-radius: 6px;
	border-color: transparent;
	cursor: pointer;
}

.refinement p {
	float: right;
}

.color-refinement-container {
	overflow: hidden;
}

.color-refinement {
	width: 22px;
	margin-right: 5px;
	margin-top: 5px;
	float: left;
	border: 1px solid #ddd;
}

.color-refinement:hover {
	cursor: pointer;
}

.color-refinement span {
	color: #bbb;
	top: 2px;
	left: 3px;
}

.refinement:hover {
	background-color: #eee;
}

.product-container:nth-of-type(4n+1){
  clear:both;
}

.product-container {
	height:auto;
}

.product-thumb {
	text-align: center;
	color: grey;
	border: none;
}

.product-thumb h5 {
	font-weight: bold;
	margin-top: 0px;
}

.product-thumb:hover {
	text-decoration: none;
	color: black;
}

.product-thumb > img {
	border-color: transparent;
	margin-left:auto;
	margin-right:auto;
	max-width: 100%;
	height: auto;
	margin-bottom: 10px;
}

.product-thumb:hover > img {
	border-color: #ddd;
}

.product-thumb-container .hover-btn {
     position: absolute;
     top: 5%;
     right: 5%;
     background-color: transparent;
     display: none;
}

.product-thumb-container:hover .hover-btn {
	display: block;
}

.pager {
	float: right;
	margin-right: 10px;
}

.product-details .poster {
	float: left;
	margin-right: 20px;
}

.product-details .product-title {
	font-family: 'Lobster', cursive;
	font-size: 35px;
	margin-top: 0px;
}

.product-details .btn-info {
	margin-right: 5px;
}

.product-details .overview {
	font-size: 17px;
	margin: 15px 5% 15px 0px;
} 

.product-details .return-link {
	float: right;
}

.extra-details kbd {
	margin-right:5px;
}

.badge{
	background-color: #ccc;
}

.sort{
	width:175px;
	margin-top:19px;
}

rzslider .rz-pointer {
	background-color: #585858;
	width : 20px;
	height : 20px;
	top : -8px;
}

rzslider .rz-pointer:after {
	top : 6px;
	left: 6px;
}

rzslider .rz-pointer.rz-active:after {
	background-color: #ccc;
}

rzslider .rz-bar.rz-selection {
  	background: #585858;
 }