@import url("//fonts.googleapis.com/css?family=Lobster");

body {
	margin-top: 50px;
}

.section-title, .navbar-brand {
	font-family: 'Lobster', cursive;
	font-weight: bold;
	line-height: 1.1;
	font-size: 26px;
	margin-top: 0px;
	padding: 15px;
}

.results-title {
	font-family: 'Lobster', cursive;
}

.refinement {
	padding: 5px;
}

.product-container {
	height: 250px;
}

.product-thumb {
	text-align: center;
	color: black;
}

.product-thumb h5 {
	font-weight: bold;
	margin-top: 0px;
}

.product-thumb:hover {
	text-decoration: none;
	color: grey;
}

.thumbnail {
	margin-bottom: 10px;
	max-height: 200px;
}

.pager {
	float: right;
	margin-right: 10px;
}

.product-details .poster {
	float: left;
	margin-right: 20px;
}

.product-details .product-title {
	font-family: 'Lobster', cursive;
	font-size: 35px;
	margin-top: 0px;
}

.product-details .btn-info {
	margin-right: 5px;
}

.product-details .overview {
	font-size: 17px;
	margin: 15px 5% 15px 0px;
} 

.product-details .return-link {
	float: right;
}

.extra-details kbd {
	margin-right:5px;
}