@import url("//fonts.googleapis.com/css?family=Lobster");

body {
	padding: 110px 15px 0px 15px;
	overflow-y: scroll;
}

body.modal-open {
	overflow-y: scroll;
}


.section-title {
	font-family: 'Lobster', cursive;
	font-weight: bold;
	line-height: 1.1;
	font-size: 26px;
	margin-top: 0px;
	padding: 15px;
}

.navbar-brand {
	padding: 0;
}

.navbar-brand img {
	height: 45px;
	padding: 5px 0px 0px 15px;
}

.header {
	padding: 10px 30px 10px 20px;
}

.menu-bar {
	background-color:white;
	text-align: center;	
}

.menu-bar-nav {
	margin-top: 5px;
	display: inline-block;	
}

.menu-bar-toggle {
	float: left;
}

.menu-bar-toggle > span {
	font-size: 16px;
	line-height: 30px;
	font-weight: bold;
}

.menu-bar-nav:hover {
	background: url(http://images.crateandbarrel.com/is/image/Crate/crate_nav_arrow?fmt=png-alpha) no-repeat center bottom;
}

.menu-bar-delimiter {
	float: left;
	border-left: 1px solid black;
    margin: 5px 15px 0 15px;
    padding-bottom: 20px !important;
}

.search-box {
	width: 30%;
}

.search-box > .search-box-control{
	border: none;
	padding-left: 30px;
	-webkit-transition: width 0.3s;
	transition: width 0.3s;
	width: 50%;
}

.search-box-control:focus::-webkit-input-placeholder{
	color: black;
}

.search-box-control:focus{
	border: none;
	box-shadow: none;
	font-weight: 600;
	color: black;
	-webkit-transition: width 0.3s;
	transition: width 0.3s;
	transition-timing-function: ease-in-out;
	width: 90%;
}

.search-box-icon {
	background-color: transparent;
	float:left;
	position:relative;
	top: 9px;
	left: 22px;
}

.results-title {
	font-family: 'Lobster', cursive;
}


.navbar-menu > .glyphicon {
	transform: scale(1.5,1);
}

.results-well {
	padding-top: 0px;
	border-width: 1px 0px 0px 0px;
	border-radius: 0;
	background-color: transparent;
	border-color: #e3e3e3;
}

.navigation-well {
	border-width: 1px 1px 0px 0px;
	border-radius: 0;
	background-color: transparent;
}

.navigation:first-of-type {
	border: none;
	padding: 0 0 10px 0;
}

.navigation {
	border-top: 2px solid #ccc;
	padding: 10px 0 10px 0;
}

.navigation > div > span {
	font-family: 'Lobster', cursive;
	font-weight: bold;
	line-height: 1.1;
	font-size: 20px;
}

.navigation > div > ul {
	margin-bottom: 0px;
}

.navigation .nav-collapse {
	margin: 2px 10px 0px 0px;
	float:right;
}

.refinement {
	padding: 3px;
	border-radius: 6px;
	border-color: transparent;
	cursor: pointer;
}

.refinement p {
	float: right;
}

.color-refinement-container {
	overflow: hidden;
}

.color-refinement {
	width: 22px;
	margin-right: 5px;
	margin-top: 5px;
	float: left;
	border: 1px solid #ddd;
}

.color-refinement:hover {
	cursor: pointer;
}

.color-refinement span {
	color: #bbb;
	top: 2px;
	left: 3px;
}

.refinement:hover {
	background-color: #eee;
}

.settings-button {
	padding-left: 10px;
	cursor: pointer;
}

.product-container:nth-of-type(4n+1){
  clear:both;
}

.product-container {
	height:auto;
}

.product-thumb {
	text-align: center;
	color: grey;
	border: none;
}

.product-thumb h5 {
	font-weight: bold;
	margin-top: 0px;
}

.product-thumb:hover {
	text-decoration: none;
	color: black;
}

.product-thumb > img {
	border-color: transparent;
	margin-left:auto;
	margin-right:auto;
	max-width: 100%;
	height: auto;
	margin-bottom: 10px;
}

.product-thumb:hover > img {
	border-color: #ddd;
}

.product-thumb-container .product-add-to-cart {
	display: none;
    position: absolute;
    bottom: 20%;
    left:0; 
    right:0;
    width:50%;
    margin: 0 auto;
}

.product-thumb-container:hover .product-add-to-cart {
	display:block;
}

.product-thumb-container .hover-btn {
     position: absolute;
     top: 5%;
     right: 5%;
     background-color: transparent;
     display: none;
}

.product-thumb-container:hover .hover-btn {
	display: block;
}

.pager {
	float: right;
	margin-right: 10px;
}

.product-details .poster {
	float: left;
	margin-right: 20px;
}

.product-details .product-title {
	font-family: 'Lobster', cursive;
	font-size: 35px;
	margin-top: 0px;
}

.product-details .btn-info {
	margin-right: 5px;
}

.product-details .overview {
	font-size: 17px;
	margin: 15px 5% 15px 0px;
} 

.product-details .return-link {
	float: right;
}

.extra-details kbd {
	margin-right:5px;
}

.badge{
	background-color: #ccc;
}

.sort{
	width:175px;
	margin-top:19px;
}

rzslider .rz-pointer {
	background-color: #585858;
	width : 20px;
	height : 20px;
	top : -8px;
}

rzslider .rz-pointer:after {
	top : 6px;
	left: 6px;
}

rzslider .rz-pointer.rz-active:after {
	background-color: #ccc;
}

rzslider .rz-bar.rz-selection {
  	background: #585858;
 }

.settings-modal {
	top:100px;
} 

.saytList {
	padding-left: 20px;
} 

.saytItem {
	list-style-type: none;
	color: black;
}